.ventanaCarrito{
    position: fixed;
    right: 32px;
    bottom: 8px;
    min-height: 200px;
    min-width: 350px;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    p{
        text-align: center;
        font-size: 24px;
        font-weight: 900;
        margin-bottom: 16px;
    }
    .carrito{
        height: fit-content;
        #itemCarrito{
            display: flex;
            flex-direction: row;
            margin-bottom: 16px;
            p{
                text-align: left;
                font-size: 16px;
                font-weight: bold;
            }
            span{
                font-size: 16px;
                font-weight: bold;
                margin-left: auto;
            }
        }
        margin-bottom: 40px;
    }
    #totalCarrito{
        font-size: 18px;
        position: absolute;
        bottom: 16px;
        right: 16px;
    }
}
.wrapperOrden{
    margin: 0 20px;
    .tituloBanner{
        margin-top: 16px;
        margin-bottom: 32px;
        text-align: center;
        p{
            font-size: 24px;
        }
    }
}

