// <div id="cartaProductos">
//     <img src="" alt="">
//     <h2>Producto</h2>
//     <p>Descripción</p>
//     <span>$3000</span>
//     <input type="number" name="Cantidad" id="cantidad" disabled="true">
//     <button type="button">+</button>
//     <button type="button">-</button>
// </div>

#cartaProductos{
    background-color: #ffeed7;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    &:first-of-type{
        border-top-left-radius: unset;
    }
    border: 1px solid rgb(185, 185, 185);
    img{
        border-radius: 4px;
        margin: 8px;
        height: 125px;
        width: 125px;
        object-fit: cover;
        background: white;
    }
    .cardInfo{
        width: 600px;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        h2{
            font-weight: 900;
        }
        p{
            font-weight:600;
        }
        span{
            font-weight: 900;
            margin-top: auto;
        }
    }
    .cardContador{
        margin-top: auto;
        margin-bottom: 20px;
        button{
            width: 25px;
            height: 25px;
        }
        input{
            width: 50px;
            height: 25px;
            text-align: center;
        }
    }
}